/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

nav {
    min-width: 47.5rem;
}

main, footer {
    margin: 1.25rem auto;
    width: 90%;
    min-width: 42.5rem;
}

/* Positioning and Gird Layout */

header {
    
}

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 0.75rem;
}

article {
    grid-column: 1;
    grid-row: 1;
    padding-right: 2rem;
}

.subsection {
    display: flex;
    margin-top: 4em;
}

aside {
    grid-column: 2;
    grid-row: 1;
    border-left: 2px solid #333;
    padding-left: 2.5rem;
}

footer {
    margin-top: 7rem;
    margin-bottom: 2rem;
}

/* Imported typefaces */

@font-face {
    font-family: "Roboto";
    src: url(../fonts/sans-serif/roboto-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ultra";
    src: url(../fonts/serif/ultra-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Typography */

html {
    font-family: Roboto, "Arial", sans-serif;
}

h1 {
    font-size: 3.5rem;
    transform: rotate(-4deg);
    color: #333;
    text-align: center;
    margin-top: 2.25rem;
    margin-bottom: 6rem;
    text-shadow: 2px 2px 2px #333;
    letter-spacing: 0.1rem;
}

h1 span {
    display: inline-block;
    font-size: 3.7rem;
    font-family: Ultra, serif;
    color: #eeeedd;
    background-color: #83344d;
    padding: .05rem 1rem;
    border-radius: 1rem 0 1rem 0;
    font-weight: normal;
    box-shadow: 3px 3px 3px #333;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

aside h3:first-of-type {
    margin-top: 0;
}

h3 {
    font-size: 1rem;
    color: #333;
    margin: 1rem auto;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

article p:first-of-type {
    margin-top: 0;
}

aside p {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #333;
}

footer p:nth-child(1) {
    float: left;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #6f7d77;
}

footer p:nth-child(2) {
    text-align: right;
    padding-left: 46rem;
}

time {
    font-style: italic;
    font-size: 0.75rem;
}

/* Navigation Menu */

nav {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding-left: 2.5rem;
    margin-bottom: 3.5rem;
}

nav a {
    font-size: 1.65rem;
    font-weight: bold;
    text-decoration: none;
    color: #27476e;
    display: inline-block;
    padding: 2rem 2.5rem 1.75rem 2rem;
}

nav a:focus {
    transform: rotate(3deg);
    text-transform: uppercase;
    font-size: 1.4em;
    color: #000;
    text-decoration: line-through;
    padding-right: 2.425rem;
    position: relative;
    top: -.35rem;
}

/* Figures and Images */

.subsection figure {
    margin: 0;
    margin-right: 0.5em;
    background-color: #eeeedd;
}

img {
    width: 100%;
}

.article-image {
    float: left;
    margin-right: 1rem;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    width: 33%;
}

figcaption {
    padding: 0.75em .75em;
    font-size: 0.75rem;
}

/* Links */

footer a:visited {
    color: blueviolet
}

footer a:active {
    color: red;
}

button {
    margin-top: 2.5rem;
    font-family: Ultra, serif;
    font-size: 1.5rem;
    color: #eeeedd;
    padding: 1rem 1rem;
    background-color: #27476e;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 2px #333;
}

.expand {
    display: block;
    font-size: .25rem;
    text-decoration: none;
}


/*
html {
    font-family: Roboto, Arial, sans-serif;
}

.main-section p {
    line-height: 1.75rem;
    text-shadow: 0 0 4px #ccc;
}



main {
    margin: 0 auto 0 auto;
    width: 90%;
    padding-right: 0;
    
}

h1 {
    font-family: Roboto;
    color: #333;
    font-size: 4.4rem;
    text-align: center;
    transform: rotate(-4deg);
    margin-top: 2.75rem;
    margin-bottom: 7.50rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #333;
    letter-spacing: 0.15rem;
}

h1 span {
    font-family: Ultra, serif;
    font-size: 1.05em;
    color: #eeeedd;
    background-color: #83344d;
    padding: .05rem 1.15rem;
    border-top-left-radius: 1.15rem;
    border-bottom-right-radius: 1.15rem;
    font-weight: normal;
    letter-spacing: .15rem;
    box-shadow: 3px 3px 3px #333;
}

nav {
    font-size: 2rem;
    text-decoration-line: none;
    word-spacing: 6.9rem;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
    padding: 2.25rem 5.5rem;
    margin-bottom: 4.5rem;
    margin-right: 0;
}

nav a {
    display: inline-block;
    font-family: Roboto, serif;
    text-decoration: none;
    color: #27476e;
    font-weight: bold;
}

nav a:focus {
    color: #000;
    transform: rotate(4deg);
    text-transform: uppercase;
    font-size: .85em;
    text-decoration: line-through;
    position: relative;
    top: -0.25rem;
    
}

.article-image {
    float: left;
    margin: 0 1.25rem 1rem 0;
    
}
.article-image img {
    width: 29rem;
}
.subsection {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 23.75rem);
}

.subsection figure {
    background-color: #eeeedd;
}
.subsection figcaption {
    
}

.subsection img {
    width: 23rem;
    display: block;
}

h2 {
    font-family: Roboto, serif;
    font-size: 1.75rem;
    color: #333;
}

.main-section {
    display: flex;
}

article {
    margin-right: 3rem;
    max-width: 1125px;
}
aside {
    max-width: 18rem;
    float: right;
    margin-right: 0;
    padding-right: 0;
    border-left: 2px solid #333;
    padding-left: 2.75rem;
}
aside p {
    clear: right;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    line-height: 1.35rem !important;
    padding-bottom: 1.75rem;
    border-bottom: 2px solid #333;
    display: block;

}

aside h3 {
    max-width: 17rem;
    margin-left: 0;
}

.expand {
    display: block;
    margin-top: 0.25rem;
    text-decoration: none;
    font-size: 0.3rem !important;
}

time {
    font-style: italic;
    font-size: 0.9rem;
    margin-left: 0.1rem;
}

h3 {
    font-family: Roboto;
    color: #333;
    margin: 1.2rem auto;
    font-size: 1.15rem;
}
aside h3:first-of-type {
    margin-top: 0;
    padding: 0;
}
aside img {
    width: 18rem;
}

article p:first-of-type {
    margin-top: 0;
}
*/